* {
    padding: 0%;
    margin: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');



html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

h1 {
    font-family: 'Cinzel Decorative', cursive;
    color: white;
    text-align: center;
    font-size: 45px;
}

.container {
    background: linear-gradient(248.6deg, rgb(254, 99, 132) 0%, rgb(49, 52, 56) 99.8%);
    height: 100vh;

}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9rem;
    
}

.box {
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    margin: auto;
    
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    flex-direction: column;
}

.na {
    padding: 5px 5px 0px 5px;
    margin: 5px 0;
    width: 215px;
}

.su {
    padding: 8px 20px;
    width: 180px;
    cursor: pointer;
    margin: 20px 0;
    background-color: rgb(153, 155, 161);
}

.su:hover {
    color: white;
    transition: 0.5s ease-in;
}

p {
    color: rgb(210, 205, 205);
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 20px 0 0 0;
}